<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeContracts.Unofficial" version="1.0.0.2" targetFramework="net40" />
  <package id="DotNetOpenAuth" version="4.1.2.12274" targetFramework="net40" />
  <package id="DotNetOpenAuth.Core" version="4.1.2.12274" targetFramework="net40" />
  <package id="DotNetOpenAuth.Core.UI" version="4.1.2.12274" targetFramework="net40" />
  <package id="DotNetOpenAuth.InfoCard" version="4.1.2.12274" targetFramework="net40" />
  <package id="DotNetOpenAuth.InfoCard.UI" version="4.1.2.12274" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Common" version="4.1.2.12274" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.1.2.12274" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.1.2.12274" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.ServiceProvider" version="4.1.2.12274" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.1.2.12274" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Core.UI" version="4.1.2.12274" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Provider" version="4.1.2.12274" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Provider.UI" version="4.1.2.12274" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.1.2.12274" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty.UI" version="4.1.2.12274" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenIdInfoCard.UI" version="4.1.2.12274" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenIdOAuth" version="4.1.2.12274" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="Glimpse" version="1.0.0-nightly-120918" targetFramework="net40" />
  <package id="Glimpse.AspNet" version="1.0.0-nightly-120918" targetFramework="net40" />
  <package id="Glimpse.Mvc3" version="1.0.0-nightly-120918" targetFramework="net40" />
  <package id="jQuery" version="1.8.2" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.8.24" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.10.0" targetFramework="net40" />
  <package id="jQuery.vsdoc" version="1.6" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Modernizr" version="2.6.2" targetFramework="net40" />
  <package id="System.Net.Http" version="2.0.20710.0" targetFramework="net40" />
</packages>